@font-face {
    font-family: 'ferbtasticregular';
    src: url('/fonts/phineas_y_ferb-webfont.ttf') format('ttf'),
        url('/fonts/phineas_y_ferb-webfont.woff2') format('woff2'),
        url('/fonts/phineas_y_ferb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    box-sizing: border-box;
    font-family: 'ferbtasticregular', Arial, Helvetica, sans-serif;
    color: var(--text-color);
}

:root {
    --primary-blue: #84dcfc;
    --primary-black: #1d1a1a;
}


*::selection {
    color: lightsalmon;
    background-color: white;

}

body {
    background-color: var(--primary-blue);
    display: grid;
    place-content: center;
    padding: 1rem;
    row-gap: .8rem;
}

h1 {
    font-size: 6rem;
    text-align: center;
}


#translate-input,
#translate-output {
    border-radius: 1rem;
    padding: 1rem;
    border-color: var(--primary-black);
    border-width: medium;
    background-color: #ebdede;
    outline: none;
    height: 10rem;
}

#translate-input::placeholder {
    font-weight: lighter;
}


#btn-translate {
    padding: 1rem 2rem;
    width: max-content;
    font-weight: 700;
    font-size: medium;
    background-color: transparent;
    border-radius: 7px;
    margin: auto;
    outline: none;
    box-shadow: 0 0 3px gray;
    transition: background-color 300ms ease-in-out,
        color 1s ease-in-out;
}

.translation-output-heading {
    font-size: 1.2rem;
}

#btn-translate:hover {
    background-color: var(--primary-black);
    color: var(--primary-blue);
}

footer {
    width: 50vw;
    text-align: justify;
}

@media (max-width:660px) {
    h1 {
        font-size: 3em;
    }

    #translate-input {
        width: 85vw;
    }

    footer {
        width: 90vw;
    }

    p {
        font-size: 1rem;
    }
}




.animation {
    animation: 5s gif-add;
}

@keyframes gif-add {
    from {
        background: url(/images/perry-the-platypus.gif) center center no-repeat;
    }


    99% {
        background: url(/images/perry-the-platypus.gif) center center no-repeat;
    }

    to {
        background: #ebdede;
    }

}